main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  h2 {
    margin: 15px 0px;
    text-align: center;

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
  }
}

#mainTable {
  border-spacing: 0px;
  text-align: center;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

  th {
    padding: 8px 30px;

    font-weight: 500;

    background-color: var(--primary-color);
    color: white;
  }

  tbody {
    font-weight: 400;
  }

  tbody > tr {
    height: 40px;
    text-transform: uppercase;

    &:nth-child(2n) {
      background-color: #2238430c;
    }

    &:hover {
      background-color: #22384333;
    }
  }
}
